{% extends "base.html" %}

{% block content %}
<div class="form-container">
    <h1 class="page-title warning-text">Delete Article</h1>
    <p class="warning-text">Are you sure you want to delete "{{article.title}}"?</p>
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-actions">
            <button type="submit" class="button button-danger">Delete</button>
            <a href="{% url 'article_list' %}" class="button button-primary">Cancel</a>
        </div>
    </form>
</div>
{% endblock content %}